.footer {
    border-top: 2px solid #ababab;
    margin-top: -2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.footer__right {
    text-align: right;
}

.footer p {
    font-size: 13px;
    color: rgb(97, 97, 97);
    line-height: 1.2;
    margin: 25px 0px;
}
.footer__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    margin: 25px 0px;
    list-style: none;
    justify-content: start;
}

.footer__menu a {
    font-size: 13px;
    color: rgb(97, 97, 97);
    line-height: 1.2;
    text-decoration: none;
    font-weight: 700;
}
.footer__menu a:hover {
    text-decoration: underline;
}
.footer__menu li {
    border-right: 1px solid rgb(97, 97, 97);
    padding: 0 8px;
}
.footer__menu li:first-child {
    padding-left: 0;
}
.footer__menu li:last-child {
    border-right: none;
}

@media (max-width: 680px) {
    .footer {
    grid-template-columns:auto;
    }
    .footer__menu {
        justify-content: stretch;
    }
    .footer__left, .footer__right {
        text-align: center;
    }
}