.user {
    display: grid;
    grid-template-columns: minmax(290px, 690px) 270px;
    align-items: center;
}

.user__info {
    list-style: none;
    margin: 25px 0;
    padding-right: 15px;
    border-right: 1px solid #d4d4d4;
}

.user__btn {
    justify-self: end;
}

.user__btn button{
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgb(202,0,81) 0%, rgb(223,4,92) 100%);
    width: 190px;
    box-shadow: 0px 3px 0px 0px rgba(148, 0, 59, 0.8);
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    border: none;
    display: block;
    padding: 12px 0px;
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 680px) {
    .user {
        grid-template-columns: auto;
    }
    .user__info {
        padding-right: 0;
        border-right: none;
    }
    .user__btn {
        justify-self: center;
        margin-bottom: 25px;
    }
}